[submodule "ConsoleControl"]
	path = Source/ConsoleControl
	url = https://github.com/fantoms/consolecontrol.git
[submodule "Source/ACEmulator"]
	path = Source/ACEmulator
	url = https://github.com/ACEmulator/ACE.git
[submodule "Source/ACE-World"]
	path = Source/ACE-World
	url = https://github.com/ACEmulator/ACE-World.git
